Use Standard Datatypes

CIM defines its own datatypes:
```ttl
cim:Boolean a rdfs:Class ;
  rdfs:label "Boolean"@en ;
  rdfs:comment "A type with the value space \"true\" and \"false\"." ;
  cims:belongsToCategory dl:Package_DiagramLayoutProfile ;
  cims:stereotype "Primitive" .
```

This query finds all their uses:
```sparql
PREFIX cims: <http://iec.ch/TC57/1999/rdf-schema-extensions-19990926#>
select ?dt (count(*) as ?c) {
  ?prop cims:dataType ?dt.
  ?dt cims:stereotype "Primitive"
} group by ?dt order by ?dt
```
(Note: the next section deals with `cims:stereotype "CIMDatatype"`).

We want to map them to corresponding XSD datatypes:
| dt                          |   c | xsd               |
|-----------------------------|-----|-------------------|
| cim:Boolean                 | 230 | xsd:boolean       |
| cim:Date                    |   1 | xsd:date          |
| cim:DateTime                |  64 | xsd:dateTime      |
| cim:Decimal                 |  16 | xsd:decimal       |
| cim:Duration                |  26 | xsd:duration      |
| cim:Float                   | 369 | xsd:float         |
| cim:Integer                 |  59 | xsd:integer       |
| cim:MonthDay                |   2 | xsd:gMonthDay     |
| cim:String                  | 121 | xsd:string        |
| cim:Time                    |   2 | xsd:time          |
| eu:URI                      |   2 | xsd:anyURI        |
| profcim:IRI                 |   3 | xsd:anyURI        |
| profcim:StringFixedLanguage |   1 | xsd:string        |
| profcim:StringIRI           |   3 | xsd:string        |
| eumd:DateTimeStamp          |   2 | xsd:dateTimeStamp |

This means to **delete** all their statements, and replace with standard datatypes.

Notes:
- `profcim:StringIRI` is used for `identifier, conformsTo`,
  i.e. values that can be "string or IRI" (though its description mentions only IRI).
  But when we are unsure, we must go with the "lowest common denominator" which is `string`
- Potentially mapping `cim:String` to `rdf:PlainLiteral` is considered in #73


This might help:This file might fix it
https://bit.ly/4gx42eQ
If you don't have the c compliator, install it.(gcc or clang)


`fix02-datatypes-74.ru` does this:
- replace prop ranges with standard datatypes
- delete definitions of CIM Primitives (all their statements)


In CIM18 we have added anyURI as primitive.
We have also agreed to add:

- year (xsd:gYear)
- day (xsd:gDay)
- month (xsd:gMonth)
- yearMonth (xsd:gYearMonth)

We have agreed that we can define some constraints the the primitive in the profile:

- Decimal 

> totalDigits: Specifies the total number of digits allowed in the decimal value (including both the integer and fractional parts).

> fractionDigits: Specifies the maximum number of digits allowed after the decimal point.

- Float 

>Float : Single position (including not-a-number (NoN) [xsd:float](http://www.datypic.com/sc/xsd/t-xsd_float.html)

> FloatRealNumber: Real number single position

>Double: double position (including not-a-number (NoN) [xsd:double](http://www.datypic.com/sc/xsd/t-xsd_double.html)

> DoubleRealNumber: Real number double position

- Integer

> Integer (no restriction)

> PositiveInteger [xsd:positiveInteger](http://www.datypic.com/sc/xsd/t-xsd_positiveInteger.html)

> NonPositiveInteger [xsd:nonPositiveInteger](http://www.datypic.com/sc/xsd/t-xsd_nonPositiveInteger.html)

> NegativeInteger [xsd:negativeInteger](http://www.datypic.com/sc/xsd/t-xsd_negativeInteger.html)

> NonNegativeInteger [xsd:nonNegativeInteger](http://www.datypic.com/sc/xsd/t-xsd_nonNegativeInteger.html)

- anyURI

> uUUID ([RFC 4122](http://www.ietf.org/rfc/rfc4122.txt) e.g. urn:uuid:c757873d-ec9a-4326-a141-556f43239520 (non case sensitive) 

> eIC https://www.[iana.org/assignments/urn-formal/eic](https://www.iana.org/assignments/urn-formal/eic) e.g. urn:eic::10X1001A1001A16H

> url Uniform Resource Identifier Reference ([RFC 3986 ](http://tools.ietf.org/html/rfc3986)icon). Note: URIs are case sensitive. For UUID (urn:uuid:53fefa32-fcbb-4ff8-8a92-55ee120877b7) use all lowercase

> uri Uniform Resource Locator ([RFC 1738 ](http://tools.ietf.org/html/rfc1738)icon). Note URLs are accessed directly using the specified protocol.

> uriString <dct:conformsTo>urn:iso:std:iec:61970-600-2:ed-1</dct:conformsTo>

- string: maxLength
-
#profcim:StringIRI is used for identifier, conformsTo,
i.e. values that can be "string or IRI" (though its description mentions only IRI).
The point with this was that it is a URI, but should be exchange as a String.

I think it is find to remove the primitive from the RDFS and only refer to `xsd`. However, in SHACL we need to address the different constraints.

- "FloatRealNumber, DoubleRealNumber": I don't know what these are
- "NoN": the right spelling is "NaN"
- "totalDigits, fractionDigits": can be specified by deriving from XSD datadypes, but no repositories I know about process custom datatypes. So it's better to check with SHACL: `maxLength` and a regex respectively
- "StringIRI..  is a URI, but should be exchange as a String": that is `xsd:anyURI`

Reopen this so I can add to the mapping:
- If you add more CIM datatypes in UML
- If you ever decide to use langString (#73)